*{
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
}
html,body {
    height:100%;
}
a:hover{
    text-decoration: none;
}
body{
    font-weight: 200;
    color: #222;
    overflow-x: hidden !important;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

.nano{ 
    position: inherit; 
    width: 16.6666667% ;
}
.nano-pane{ 
    z-index: 1100;
    width: 7px !important;
    cursor: pointer;
    background: rgba(0, 0, 0, 0) !important;
}
.nano-slider{
    z-index: 1100;
    width: 7px !important;
    margin: 0 !important;
}

.page-wrapper-fixed{
    height: 100%;
    min-height: 100%;
    padding-top: 55px;
}
.page-wrapper-static{
    min-height: 100%;
    padding-top: 15px;
    height: 100%;
    margin-top: -50px;    
}

.navbar{
    font-size: 16px;
    background: #c53c52;
    background: -moz-linear-gradient(top,  #c53c52 0%, #c14f5e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c53c52), color-stop(100%,#c14f5e));
    background: -webkit-linear-gradient(top,  #c53c52 0%,#c14f5e 100%);
    background: -o-linear-gradient(top,  #c53c52 0%,#c14f5e 100%);
    background: -ms-linear-gradient(top,  #c53c52 0%,#c14f5e 100%);
    background: linear-gradient(to bottom,  #c53c52 0%,#c14f5e 100%);
    border: none;
    /*width: 100%;*/
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.navbar-header{
    float: left;
    cursor: default;
}
.navbar-brand{
    font-size: 45px;
    /*text-transform: uppercase;*/
    color: #232323 !important;
    font-weight: 600;
    height: 100%;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    max-height: 65px;
    font-family: 'Lobster', cursive;

}
.navbar-static-top{
    z-index: 1030;
}


.nav-no-fix-div{
    margin: 15px 0;
    float: right;
}
.thumbtack{
    /*background: white;*/
}
/*.fa-square-o{
    background: #fff;
}*/
.thumbtack:hover{
    /*color: #ccc;*/
}
.nav-no-fix{
    /*font-size: 35px;*/
    cursor: pointer;
    /*top: 4px;*/
    color: #232323;
    transform: rotate(45deg);
    padding-top: 6px;
    /*padding-right: 1.5px;*/
}

.sidebar{
    display: none;
}
@media (min-width: 768px){
    .sidebar{
        position: fixed;
        top: -15px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding-top: 5px;
        overflow: hidden;
        background-color: #2e2e2e;
        padding: 20px;
    }
    .sidebar-name-div{
        height: 65px;
    }
    .sidebar-name{
        font-size: 40px;
        text-transform: uppercase;
        color: #ddd;
        font-weight: 600;
        overflow: hidden;
        margin: 0 -20px;
        /*padding-right: 10px;*/
        text-align: center;
        vertical-align: middle;
        cursor: default;
        max-height: 65px;
    }
    .sidebar-list-div{
        margin-left: -20px;
    }
    .sidebar-list{
        color: #ccc;
        list-style: none;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 60px;

    }
    .sidebar-list>li{
        padding: 15px;
        margin-right: -20px;
        margin-left: -60px;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.2s, font-weight 0.2s, color 0.2s, font-size 0.2s;
        -o-transition: background-color 0.2s, font-weight 0.2s, color 0.2s, font-size 0.2s;
        transition: background-color 0.2s, font-weight 0.2s, color 0.2s, font-size 0.2s;
    }
    .sidebar-list>li:hover{
        background: #f6f6f6;
        color: #c14f5e;
        /*font-size: 21px;*/
        -webkit-transition: background-color 0.2s, font-weight 0.2s, color 0.2s, font-size 0.2s;
        -o-transition: background-color 0.2s, font-weight 0.2s, color 0.2s, font-size 0.2s;
        transition: background-color 0.2s, font-weight 0.2s, color 0.2s, font-size 0.2s;
    }
    .sidebar-active{
        background: #f6f6f6;
        color: #c14f5e;
        /*font-size: 21px;*/
    }
}

.social-media{
    margin: auto;
    text-align: center;
    margin: 10px 0;
}
.social-media>a>i.fa{
    color: #e2e2e2;
    font-size: 30px;
    margin: 7.5px;
    text-align: center;
    cursor: pointer;
    /*width: 31px; Size of the widest icon (mail)*/
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.social-media>a>i.fa:hover{
    color: #c53c52;
    color: -moz-linear-gradient(top,  #c53c52 0%, #c14f5e 100%);
    color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c53c52), color-stop(100%,#c14f5e));
    color: -webkit-linear-gradient(top,  #c53c52 0%,#c14f5e 100%);
    color: -o-linear-gradient(top,  #c53c52 0%,#c14f5e 100%);
    color: -ms-linear-gradient(top,  #c53c52 0%,#c14f5e 100%);
    color: linear-gradient(to bottom,  #c53c52 0%,#c14f5e 100%);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.profile{
    text-align:center;
    width: 175px;
    background-size: 175px 175px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    background-position: 50%;
}

.content-col{
    display: none;
    margin-top: 14.5px;
    background: #f6f6f6;
    /*height: calc(100vh - 70px);*/
    font-family: 'Source Sans Pro', sans-serif;
    /*padding-bottom: 500px;*/
}
.content{
    margin-left: -25px;
    padding-left: 25px;
    margin-right: -15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.home{
    height: 100%;
    color: #eee;
    /*color: #3a3a3a;*/
    background:  
        linear-gradient(
            rgba(46, 46, 46, 0.5), 
            rgba(46, 46, 46, 0.5)
        ), url('SplitShire-8593-small.jpg');
    /*background: #444;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    -webkit-transition: padding-top 0.5s;
    -o-transition: padding-top 0.5s;
    transition: padding-top 0.5s;
}
.home-hi{
    /*margin: 0 15%;*/
}
@media (min-width: 768px){
    .home-hi{
        width: 75%;
        margin: auto;
        display: block;
    }
    .home{
        padding-top: 100px;
    }
}
@media (min-width: 900px){
    .home{
        padding-top: 150px;
    }
}
@media (min-width: 1100px){
    .home{
        padding-top: 220px;
    }
}
@media (min-width: 1400px){
    .home-hi{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (min-width: 2000px){
    .home-hi{
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media (min-width: 2900px){
    .home-hi{
        margin-left: 33.333%;
        margin-right: 25%;
    }
}
.home-header{
    font-size: 82px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    padding-left: 50px;
}
.home-text{
    padding-left: 170px;
    padding-top: 22.5px;
    font-size: 25px;
}
.resume{
    height: 100%;
}
.resume-pdf{
    font-size: 30px;
    /*text-align: center;*/
}
.pdf-dl{
    color: #3a3a3a;
    position: fixed;
    padding-top: 10px;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.pdf-dl:visited{
    color: #3a3a3a;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.pdf-dl:hover{
    color: #c53c52;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.about{
    padding-top: 15px;
    -webkit-transition: padding-top 0.5s;
    -o-transition: padding-top 0.5s;
    transition: padding-top 0.5s;
    font-size: 14.5px;
    display: none;
}


.nodisplay{
    display: none;
}

.header{
    font-weight: 200;
    text-align: center;
}

.dropdown-menu{
    background-color: #222;
}
.dropdown-menu>li>a{
    color: #9d9d9d;
    font-weight: 300;
}
.dropdown-menu>li>a:hover{
    color: #fff;
    background-color: #222;
}

.divider{
    background-color: #959595 !important;
}

/*HTML Resume*/
#page_1 {
    position:relative; overflow: hidden;margin: 20px auto 68px auto;
    padding: 15px 15px 35px 35px;border: 1px solid #D5D5D5;width: 730px;
    -webkit-box-shadow: 2px 2px 6px #ddd;
    box-shadow: 2px 2px 6px #ddd;
    background: #fbfbfb;
    /*overflow-x: scroll;*/
}

#page_1 #dimg1 {position:absolute;top:12px;left:0px;z-index:-1;width:670px;height:50px;}
#page_1 #dimg1 #img1 {width:670px;height:50px;}

.ft0{font: 19px 'Source Sans Pro' ;line-height: 22px; font-weight: 300;}
.ft1{font: 1px 'Source Sans Pro';line-height: 1px; font-weight: 300;}
.ft2{font: 12px 'Source Sans Pro' ;line-height: 15px; font-weight: 300;}
.ft3{font: 13px 'Source Sans Pro' ;line-height: 14px; font-weight: 300;}
.ft4{font: 12px 'Source Sans Pro' ;line-height: 14px; font-weight: 300;}
.ft5{font: 16px 'Source Sans Pro' ;line-height: 18px; font-weight: 300;}
.ft6{font: 13px 'Source Sans Pro' ;line-height: 16px; font-weight: 300;}
.ft7{font: 1px 'Source Sans Pro' ;line-height: 14px; font-weight: 300;}
.ft8{font: 12px 'Source Sans Pro' ;line-height: 13px; font-weight: 300;}
.ft9{font: 1px 'Source Sans Pro' ;line-height: 13px; font-weight: 300;}
.ft10{font: 11px 'Source Sans Pro' ;line-height: 14px; font-weight: 300;}
.ft11{font: 10px 'Symbol';line-height: 12px;}
.ft12{font: 12px 'Source Sans Pro';margin-left: 6px ;line-height: 15px; font-weight: 300;}
.ft13{font: 12px 'Source Sans Pro';margin-left: 6px ;line-height: 13px; font-weight: 300;}
.ft14{font: 12px 'Source Sans Pro';margin-left: 6px ;line-height: 14px; font-weight: 300;}
.ft15{font: 11px 'Source Sans Pro';margin-left: 6px ;line-height: 14px; font-weight: 300;}
.ft16{font: 12px 'Symbol';line-height: 15px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 48px;padding-right: 210px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}
.p6{text-align: left;padding-left: 48px;padding-right: 172px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}
.p7{text-align: justify;padding-left: 48px;margin-top: 1px;margin-bottom: 0px;}
.p8{text-align: left;margin-top: 10px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 24px;margin-top: 2px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 48px;padding-right: 179px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}
.p11{text-align: left;padding-left: 48px;padding-right: 171px;margin-top: 1px;margin-bottom: 0px;text-indent: -12px;}
.p12{text-align: justify;padding-left: 48px;padding-right: 183px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}
.p13{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 24px;margin-top: 1px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 48px;padding-right: 152px;margin-top: 1px;margin-bottom: 0px;text-indent: -12px;}
.p16{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 24px;margin-top: 12px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 36px;margin-top: 1px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 24px;margin-top: 13px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 48px;padding-right: 101px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}
.p22{text-align: justify;padding-left: 48px;padding-right: 103px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}
.p23{text-align: justify;padding-left: 48px;padding-right: 86px;margin-top: 0px;margin-bottom: 0px;text-indent: -12px;}

.td0{padding: 0px;margin: 0px;width: 243px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 154px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 130px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 527px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 397px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 263px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 284px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 518px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 467px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 169px;vertical-align: bottom;}

.tr0{height: 28px;}
.tr1{height: 14px;}
.tr2{height: 15px;}
.tr3{height: 22px;}
.tr4{height: 16px;}
.tr5{height: 13px;}
.tr6{height: 27px;}
.tr7{height: 30px;}

.t0{width: 660px;font: 12px 'Source Sans Pro';}
.t1{width: 636px;margin-left: 24px;margin-top: 10px;font: 13px 'Source Sans Pro';}
.t2{width: 636px;margin-left: 24px;margin-top: 5px;font: 11px 'Source Sans Pro';}

.ostem-date{padding-left:60px;}
.pic-date{padding-left:8px;}
.la-date{padding-left:15px;}
.piano-date{padding-left:177.5px;}

#picyourfuture{
    width: 60%;
    margin: auto;
    font-size: 20px;
}